In [1]:
import pandas as pd

# créons un cadre de données jouet avec des variables de date

# tout d'abord, nous créons une série avec les plages
rng_ = pd.date_range('2019-03-05', periods=20, freq='T')

# maintenant nous convertissons la série dans un dataframe
df = pd.DataFrame({'date' : rng_}) 

# affiche les 5 premières lignes
df.head()

                 date
0 2019-03-05 00:00:00
1 2019-03-05 00:01:00
2 2019-03-05 00:02:00
3 2019-03-05 00:03:00
4 2019-03-05 00:04:00

In [2]:
# let's explore the variable type

df.dtypes

date    datetime64[ns]
dtype: object

In [3]:
# let's extract the date part

df['date_part'] = df['date'].dt.date

df['date_part'].head()

0    2019-03-05
1    2019-03-05
2    2019-03-05
3    2019-03-05
4    2019-03-05
Name: date_part, dtype: object

In [4]:
# let's extract the time part

df['time_part'] = df['date'].dt.time

df['time_part'].head()

0    00:00:00
1    00:01:00
2    00:02:00
3    00:03:00
4    00:04:00
Name: time_part, dtype: object

In [5]:
# créons un dataframe jouet où la variable datetime est castée
# en tant qu'objet

df = pd.DataFrame({'date_var' :['Jan-2015', 'Apr-2013', 'Jun-2014', 'Jan-2015']})
df

   date_var
0  Jan-2015
1  Apr-2013
2  Jun-2014
3  Jan-2015

In [6]:
# let's explore the variable type

df.dtypes

date_var    object
dtype: object

In [7]:
# let's re-cast the variable as datetime

df['datetime_var'] = pd.to_datetime(df['date_var'])
df

   date_var datetime_var
0  Jan-2015   2015-01-01
1  Apr-2013   2013-04-01
2  Jun-2014   2014-06-01
3  Jan-2015   2015-01-01

In [8]:
# let's extract date and time

df['date'] = df['datetime_var'].dt.date
df['time'] = df['datetime_var'].dt.time

df

   date_var datetime_var        date      time
0  Jan-2015   2015-01-01  2015-01-01  00:00:00
1  Apr-2013   2013-04-01  2013-04-01  00:00:00
2  Jun-2014   2014-06-01  2014-06-01  00:00:00
3  Jan-2015   2015-01-01  2015-01-01  00:00:00

In [9]:
# let's explore the variable types

df.dtypes

date_var                object
datetime_var    datetime64[ns]
date                    object
time                    object
dtype: object

###**Recipe2-Deriving-year-month-semester-quarter**

In [10]:
import numpy as np
import pandas as pd

In [11]:
# let's create a toy dataframe with a date variable which values
# increase 1 month at a time

rng_ = pd.date_range('2019-03-05', periods=20, freq='M')
df = pd.DataFrame({'date': rng_}) 
df.head()

        date
0 2019-03-31
1 2019-04-30
2 2019-05-31
3 2019-06-30
4 2019-07-31

In [12]:
# extract year

df['year'] = df['date'].dt.year

df.head()

        date  year
0 2019-03-31  2019
1 2019-04-30  2019
2 2019-05-31  2019
3 2019-06-30  2019
4 2019-07-31  2019

In [13]:
# extract month

df['month'] = df['date'].dt.month

df.head()

        date  year  month
0 2019-03-31  2019      3
1 2019-04-30  2019      4
2 2019-05-31  2019      5
3 2019-06-30  2019      6
4 2019-07-31  2019      7

In [14]:
# extract quarter

df['quarter'] = df['date'].dt.quarter

df.head()

        date  year  month  quarter
0 2019-03-31  2019      3        1
1 2019-04-30  2019      4        2
2 2019-05-31  2019      5        2
3 2019-06-30  2019      6        2
4 2019-07-31  2019      7        3

In [15]:
# extract semester

df['semester'] = np.where(df['quarter'].isin([1,2]), 1,2)

df.head()

        date  year  month  quarter  semester
0 2019-03-31  2019      3        1         1
1 2019-04-30  2019      4        2         1
2 2019-05-31  2019      5        2         1
3 2019-06-30  2019      6        2         1
4 2019-07-31  2019      7        3         2

###**Recipe3-Creating-representations-of-week-day**

In [16]:
import numpy as np
import pandas as pd

In [17]:
# créons un cadre de données jouet avec une variable de date dont les valeurs
# augmentent d'un jour

rng_ = pd.date_range('2019-03-05', periods=20, freq='D')
df = pd.DataFrame({'date' : rng_}) 
df.head()

        date
0 2019-03-05
1 2019-03-06
2 2019-03-07
3 2019-03-08
4 2019-03-09

In [18]:
# extraire le jour du mois - avec les valeurs possibles de 1 à 31

df['day_mo'] = df['date'].dt.day

df.head()

        date  day_mo
0 2019-03-05       5
1 2019-03-06       6
2 2019-03-07       7
3 2019-03-08       8
4 2019-03-09       9

In [19]:
# extraire le jour de la semaine - avec les valeurs possibles 0-6

df['day_week'] = df['date'].dt.dayofweek

df.head()

        date  day_mo  day_week
0 2019-03-05       5         1
1 2019-03-06       6         2
2 2019-03-07       7         3
3 2019-03-08       8         4
4 2019-03-09       9         5

In [20]:
df['day_week'].unique()

array([1, 2, 3, 4, 5, 6, 0])

In [23]:
# extraire le nom du jour de la semaine 

df['day_week_name'] = df['date'].dt.day_name()

df.head()

        date  day_mo  day_week day_week_name
0 2019-03-05       5         1       Tuesday
1 2019-03-06       6         2     Wednesday
2 2019-03-07       7         3      Thursday
3 2019-03-08       8         4        Friday
4 2019-03-09       9         5      Saturday

In [24]:
# is it weekend?

df['is_weekend'] = np.where(df['day_week_name'].isin(['Sunday', 'Saturday']), 1,0)

df.head()

        date  day_mo  day_week day_week_name  is_weekend
0 2019-03-05       5         1       Tuesday           0
1 2019-03-06       6         2     Wednesday           0
2 2019-03-07       7         3      Thursday           0
3 2019-03-08       8         4        Friday           0
4 2019-03-09       9         5      Saturday           1

In [27]:
# Extraire la semaine de l'année de la date, avec des valeurs possibles de 1 à 52

df['week'] = df['date'].dt.isocalendar().week 

df.head()

        date  day_mo  day_week day_week_name  is_weekend  week
0 2019-03-05       5         1       Tuesday           0    10
1 2019-03-06       6         2     Wednesday           0    10
2 2019-03-07       7         3      Thursday           0    10
3 2019-03-08       8         4        Friday           0    10
4 2019-03-09       9         5      Saturday           1    10

In [28]:
df['week'].unique()

<IntegerArray>
[10, 11, 12]
Length: 3, dtype: UInt32

###**Recipe4-Extracting-time-parts**

In [29]:
import numpy as np
import pandas as pd
# let's create a toy dataframe with some date variables

rng_ = pd.date_range('2019-03-05', periods=20, freq='1h15min10s')
df = pd.DataFrame({'date': rng_}) 
df.head()

                 date
0 2019-03-05 00:00:00
1 2019-03-05 01:15:10
2 2019-03-05 02:30:20
3 2019-03-05 03:45:30
4 2019-03-05 05:00:40

In [30]:
# extract hr, min and sec

df['hour'] = df['date'].dt.hour
df['min'] = df['date'].dt.minute
df['sec'] = df['date'].dt.second

df.head()

                 date  hour  min  sec
0 2019-03-05 00:00:00     0    0    0
1 2019-03-05 01:15:10     1   15   10
2 2019-03-05 02:30:20     2   30   20
3 2019-03-05 03:45:30     3   45   30
4 2019-03-05 05:00:40     5    0   40

In [31]:
# the same in one line

df[['h','m','s']] = pd.DataFrame([(x.hour, x.minute, x.second) for x in df['date']])

df.head()

                 date  hour  min  sec  h   m   s
0 2019-03-05 00:00:00     0    0    0  0   0   0
1 2019-03-05 01:15:10     1   15   10  1  15  10
2 2019-03-05 02:30:20     2   30   20  2  30  20
3 2019-03-05 03:45:30     3   45   30  3  45  30
4 2019-03-05 05:00:40     5    0   40  5   0  40

In [32]:
df['hour'].unique()

array([ 0,  1,  2,  3,  5,  6,  7,  8, 10, 11, 12, 13, 15, 16, 17, 18, 20,
       21, 22, 23])

In [33]:
# is it morning?

df['is_morning'] = np.where( (df['hour'] < 12) & (df['hour'] > 6), 1, 0 )

df.head()

                 date  hour  min  sec  h   m   s  is_morning
0 2019-03-05 00:00:00     0    0    0  0   0   0           0
1 2019-03-05 01:15:10     1   15   10  1  15  10           0
2 2019-03-05 02:30:20     2   30   20  2  30  20           0
3 2019-03-05 03:45:30     3   45   30  3  45  30           0
4 2019-03-05 05:00:40     5    0   40  5   0  40           0

###**Recipe5-Capturing-elapsed-time-between-2-variables**

In [34]:
import datetime
import numpy as np
import pandas as pd
# let's create a toy dataframe with some date variables

rng_hr = pd.date_range('2019-03-05', periods=20, freq='H')
rng_month = pd.date_range('2019-03-05', periods=20, freq='M')

df = pd.DataFrame({'date1': rng_hr, 'date2': rng_month}) 
df.head()

                date1      date2
0 2019-03-05 00:00:00 2019-03-31
1 2019-03-05 01:00:00 2019-04-30
2 2019-03-05 02:00:00 2019-05-31
3 2019-03-05 03:00:00 2019-06-30
4 2019-03-05 04:00:00 2019-07-31

In [35]:
# capturons la différence en jours entre les 2 variables

df['elapsed_days'] = (df['date2'] - df['date1']).dt.days

df.head()

                date1      date2  elapsed_days
0 2019-03-05 00:00:00 2019-03-31            26
1 2019-03-05 01:00:00 2019-04-30            55
2 2019-03-05 02:00:00 2019-05-31            86
3 2019-03-05 03:00:00 2019-06-30           116
4 2019-03-05 04:00:00 2019-07-31           147

In [36]:
# capturons la différence en mois entre les 2 variables

df['months_passed'] = ((df['date2'] - df['date1']) / np.timedelta64(1, 'M'))
df['months_passed'] = np.round(df['months_passed'],0)

df.head()

                date1      date2  elapsed_days  months_passed
0 2019-03-05 00:00:00 2019-03-31            26            1.0
1 2019-03-05 01:00:00 2019-04-30            55            2.0
2 2019-03-05 02:00:00 2019-05-31            86            3.0
3 2019-03-05 03:00:00 2019-06-30           116            4.0
4 2019-03-05 04:00:00 2019-07-31           147            5.0

In [37]:
# calculer la différence en secondes et minutes

df['diff_seconds'] = (df['date2'] - df['date1'])/np.timedelta64(1,'s')
df['diff_minutes'] = (df['date2'] - df['date1'])/np.timedelta64(1,'m')

df.head()

,date1,date2,elapsed_days,months_passed,diff_seconds,diff_minutes
0,2019-03-05 00:00:00,2019-03-31,26,1.0,2246400.0,37440.0
1,2019-03-05 01:00:00,2019-04-30,55,2.0,4834800.0,80580.0
2,2019-03-05 02:00:00,2019-05-31,86,3.0,7509600.0,125160.0
3,2019-03-05 03:00:00,2019-06-30,116,4.0,10098000.0,168300.0
4,2019-03-05 04:00:00,2019-07-31,147,5.0,12772800.0,212880.0

In [38]:
# calculer la différence avec aujourd'hui

df['to_today'] = (datetime.datetime.today() - df['date1'])

df.head()

,date1,date2,elapsed_days,months_passed,diff_seconds,diff_minutes,to_today
0,2019-03-05 00:00:00,2019-03-31,26,1.0,2246400.0,37440.0,1235 days 15:47:18.369445
1,2019-03-05 01:00:00,2019-04-30,55,2.0,4834800.0,80580.0,1235 days 14:47:18.369445
2,2019-03-05 02:00:00,2019-05-31,86,3.0,7509600.0,125160.0,1235 days 13:47:18.369445
3,2019-03-05 03:00:00,2019-06-30,116,4.0,10098000.0,168300.0,1235 days 12:47:18.369445
4,2019-03-05 04:00:00,2019-07-31,147,5.0,12772800.0,212880.0,1235 days 11:47:18.369445

###**Recipe6--different-time-zones**

In [39]:
import pandas as pd

# first, let's create a toy dataframe with some timestamps in different time zones
# variable 1

df = pd.DataFrame()

df['time1'] = pd.concat([
    pd.Series(
        pd.date_range(
            start='2015-06-10 09:00', freq='H', periods=3,
            tz='Europe/Berlin')),
    pd.Series(
        pd.date_range(
            start='2015-09-10 09:00', freq='H', periods=3, tz='US/Central'))
    ], axis=0)

df

                       time1
0  2015-06-10 09:00:00+02:00
1  2015-06-10 10:00:00+02:00
2  2015-06-10 11:00:00+02:00
0  2015-09-10 09:00:00-05:00
1  2015-09-10 10:00:00-05:00
2  2015-09-10 11:00:00-05:00

In [41]:
# Tout d'abord, créons un cadre de données jouet avec des horodatages dans différents fuseaux horaires.
# variable 2

df['time2'] = pd.concat([
    pd.Series(
        pd.date_range(
            start='2015-07-01 09:00', freq='H', periods=3,
            tz='Europe/Berlin')),
    pd.Series(
        pd.date_range(
            start='2015-08-01 09:00', freq='H', periods=3, tz='US/Central'))
    ], axis=0)

df

                       time1                      time2
0  2015-06-10 09:00:00+02:00  2015-07-01 09:00:00+02:00
1  2015-06-10 10:00:00+02:00  2015-07-01 10:00:00+02:00
2  2015-06-10 11:00:00+02:00  2015-07-01 11:00:00+02:00
0  2015-09-10 09:00:00-05:00  2015-08-01 09:00:00-05:00
1  2015-09-10 10:00:00-05:00  2015-08-01 10:00:00-05:00
2  2015-09-10 11:00:00-05:00  2015-08-01 11:00:00-05:00

In [42]:
# pour travailler avec différents fuseaux horaires, nous devons d'abord unifier le fuseau horaire avec le fuseau central.
# réglage de utc = True

df['time1_utc'] = pd.to_datetime(df['time1'], utc=True)
df['time2_utc'] = pd.to_datetime(df['time2'], utc=True)

df

,time1,time2,time1_utc,time2_utc
0,2015-06-10 09:00:00+02:00,2015-07-01 09:00:00+02:00,2015-06-10 07:00:00+00:00,2015-07-01 07:00:00+00:00
1,2015-06-10 10:00:00+02:00,2015-07-01 10:00:00+02:00,2015-06-10 08:00:00+00:00,2015-07-01 08:00:00+00:00
2,2015-06-10 11:00:00+02:00,2015-07-01 11:00:00+02:00,2015-06-10 09:00:00+00:00,2015-07-01 09:00:00+00:00
0,2015-09-10 09:00:00-05:00,2015-08-01 09:00:00-05:00,2015-09-10 14:00:00+00:00,2015-08-01 14:00:00+00:00
1,2015-09-10 10:00:00-05:00,2015-08-01 10:00:00-05:00,2015-09-10 15:00:00+00:00,2015-08-01 15:00:00+00:00
2,2015-09-10 11:00:00-05:00,2015-08-01 11:00:00-05:00,2015-09-10 16:00:00+00:00,2015-08-01 16:00:00+00:00

In [43]:
# explorons le type de variable

df['elapsed_days'] = (df['time2_utc'] - df['time1_utc']).dt.days

df['elapsed_days'].head()

0    21
1    21
2    21
0   -40
1   -40
Name: elapsed_days, dtype: int64

In [44]:
# Ensuite, nous changeons tous les timestamps pour le fuseau horaire désiré, par exemple Europe/Londres.
# dans cet exemple

df['time1_london'] = df['time1_utc'].dt.tz_convert('Europe/London')
df['time2_berlin'] = df['time1_utc'].dt.tz_convert('Europe/Berlin')

df[['time1_london', 'time2_berlin']]

               time1_london              time2_berlin
0 2015-06-10 08:00:00+01:00 2015-06-10 09:00:00+02:00
1 2015-06-10 09:00:00+01:00 2015-06-10 10:00:00+02:00
2 2015-06-10 10:00:00+01:00 2015-06-10 11:00:00+02:00
0 2015-09-10 15:00:00+01:00 2015-09-10 16:00:00+02:00
1 2015-09-10 16:00:00+01:00 2015-09-10 17:00:00+02:00
2 2015-09-10 17:00:00+01:00 2015-09-10 18:00:00+02:00

###**TechReqs-Dataset-creation**

In [45]:
import pandas as pd
import numpy as np
np.random.seed(29)

rng_min = pd.date_range('2019-03-05', periods=5, freq='T')
rng_day = pd.date_range('2019-03-05', periods=5, freq='D')

df = pd.DataFrame({ 'Date1': rng_min, 'Date2': rng_day, 'Val': np.random.randn(len(rng_min)) })
print(df.shape)
print("==================================================")
df

(5, 3)
==================================================

                Date1      Date2       Val
0 2019-03-05 00:00:00 2019-03-05 -0.417482
1 2019-03-05 00:01:00 2019-03-06  0.706032
2 2019-03-05 00:02:00 2019-03-07  1.915985
3 2019-03-05 00:03:00 2019-03-08 -2.141755
4 2019-03-05 00:04:00 2019-03-09  0.719057